<!-- Load content into body of application.html.erb -->
<div id="wrapper">
	<div id="header">
		<h1>Help</h1>
        <a href="<%= root_url %>" class="back"><img src="/images/back.png" alt="Back" /></a>
    </div><!--close header-->
    <div id="content">
    	<div id="interior">
            <h2>What is Tag Lab?</h2>
            <p>Tag Lab is an application that allows you to <em>tag</em> events throughout your day and run <em>experiments</em> in order to learn more about yourself.</p>
            <h2>Who is reponsible?</h2>
            <p>Brendan Hennessy and Vince Amatuzzi.</p>
            <h2>What if my question isn't answered here?</h2>
            <p>Feel free to send us an email at help@taglaboratory.com</p>
        </div><!--close interior-->
    </div><!--close content-->
    <div id="footer">
    	<p>&copy; copyright 2012 Tag Lab</p>
    </div><!--close footer-->
</div><!--close wrapper--> 


	

	
	



   