<h1> Welcome Vince and Brendan...let's do some admin work!</h1>

<p>View tags for all users: <%= link_to "Show me the Tags", "/admin/tags" %></p>

<p>View all users: <%= link_to "Users 'r us", "/admin/users" %></p>

<%= link_to "Return to home page!", root_url %>

