<!-- Load content into <body> of application.html.erb file -->
	<p>Welcome to TagLab</p>
	<img src="/images/logo.jpg" alt="TagLab now!" />
	<p><em>meep meep</em></p>
	<%= link_to 'Profile', users_path %>
	<%= link_to 'Tags', tags_path %>
	<%= link_to "Sign in with Twitter", "/auth/twitter" %>
