<div id="alerts" class="alert"></div>
<div id="interior">
	<ul class="pageitem" id="interior_ul">
		<%= render :partial => @tags, :collection => @tags %>	

		<%= will_paginate @tags %>
		<%= pageless(@tags.total_pages, '/tags') %>		
	</ul>
</div><!--close interior-->
	
<script>
	/*
	var ul_elements = document.getElementsByTagName("ul");
	for (var i=0; i < ul_elements.length; i++){
		document.getElementById("title"+ul_elements[i].id).innerHTML += "("+$("#"+ul_elements[i].id).children().size()+")";
	}
	*/
</script>